<!DOCTYPE>
<html ng-app="angularTable">
<head>
   <title>My Expenses</title>
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./css/angular-datepicker.min.css">
  <link rel="stylesheet" type="text/css" href="./css/bootstrap-theme.min.css">
  <script src="./js/jquery.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/angular.min.js"></script>
  <script src="./js/dirPagination.js"></script>
  <script src="./js/app.js"></script>
  <script src="./js/angular-datepicker.js"></script>
  </head>
<body>
  <div class="container" ng-controller="AppCtrl">
    <h3> My Expenses </h3>
  <form class="form-inline">
    <div class="form-group">
      <input type="text" ng-model= "search" class="form-control" placeholder="Search">
    </div>
  </form>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-show="displayForm">
    <div class="modal-dialog">
      <div class="modal-content">     
        <div class="modal-body">
       
          <div class="form-group">  <input type="text" ng-model="expenses.description"  class="form-control" placeholder="Enter description"/></div>
          <div class="form-group"><input type="number" ng-model="expenses.amount"  class="form-control" placeholder="Enter amount"/></div>
         <div class="form-group">
            <input ng-model="expenses.category" class="form-control" list="categories" name="Category" id="category" placeholder="select or type C01 or C10">
            <div class="controls col-sm-10">
              <datalist id="categories">
                <option value="C01:Home">
                <option value="C02:Groceries">
                <option value="C03:Personal Care">
                <option value="C04:Telecommunication">
                <option value="C05:Automobiles">
                <option value="C06:Pocket Money">
                <option value="C07:Travel">
                <option value="C08:Entertainment/Eatout">
                <option value="C09:Stationary">
                <option value="C10:People">
                <option value="C11:Medical">
                <option value="C12:Debit/Emi's">
                <option value="C13:Tips/Dharman">
                <option value="C14:Saving/Future">
                <option value="C15:One Time">
              </datalist>
            </div>
          </div>
          <div class="form-group">
            <h5>*Date can't be editable</h5>
            <input type="date" class="form-control" placeholder="date can not be editable"
               ng-model="expenses.dateString"/>
            
          </div>         
        </div>
        <div class="modal-footer">       
         <button class="btn btn-primary" ng-click="save()">Save</button>
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" ng-click="addItem()">Create Expense</button>
    <table class="table table-hover table-striped" style="width:100%;">
      <thead>
        <tr>
          <th ng-click="sort('description')">Description<span class="glyphicon" ng-show="sortKey=='description'" ng-class="{'glyphicon-up':reverse,'glyphicon-down':reverse}"></span></th>
          <th ng-click="sort('amount')">Amount<span class="glyphicon sort-icon" ng-show="sortKey=='amount'" ng-class="{'glyphicon-up':reverse,'glyphicon-down':reverse}"></span></th>
          <th ng-click="sort('category')">Category<span class="glyphicon sort-icon" ng-show="sortKey=='category'" ng-class="{'glyphicon-up':reverse,'glyphicon-down':reverse}"></span></th>
          <th ng-click="sort('dateString')">Date<span class="glyphicon sort-icon" ng-show="sortKey=='dateString'" ng-class="{'glyphicon-up':reverse,'glyphicon-down':reverse}"></span></th>
          <th>Actions</th>
          
        </tr>
      </thead>
      <tbody>
        <tr dir-paginate="expenses in expenselist |orderBy:sortKey:reverse|filter:search |itemsPerPage:10">
          <td>{{expenses.description}}</td>
          <td>{{expenses.amount}}</td>
          <td>{{expenses.category}}</td>
          <td>{{expenses.dateString|date: 'dd/MM/yyyy'}}</td>
          <td><img src="./images/trash.png" ng-click="remove(expenses._id)"/>&nbsp;&nbsp;<img src="./images/edit.png" data-toggle="modal" data-target="#myModal" ng-click="edit(expenses._id)"/>
        </tr>
      </tbody>
    </table>
    <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"></dir-pagination-controls>
  </div>
</body>
</html>